In [24]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for x in num:
    print(1)
    if x > 5:
        break

print(x)

1
1
1
1
1
1
6

In [43]:
sette = [1, 2, 3, 4, 5, 6, 7]
for z in sette:
    if z == 4:
        break

In [45]:
print(z)

4

In [46]:
letra = ['a', 'b', 'c', 'd']
for l in letra:
    if l == 'b':
        break

In [47]:
print(l)

b

In [51]:
mes = ['janeiro', 'fevereiro', 'mar√ßo', 'abril', 'maio', 'junho']
for m in mes:
    if m == 'abril':
        break
        
print(m)

abril

In [56]:
ano = [2018, 2019, 2020, 2021]
for n in ano:
    if ano != 2019:
        break

In [58]:
print(n)

2018